{% extends "base.html" %}
{% block title %}Об авторе проекта{% endblock %}
{% block content %}
  <h3>Привет, меня зовут Логинов Денис</h3>
  <p>
    Я прошел путь от инженера до консультанта в области Бережливого производства.<br>
    В настоящее время я реализую Национальный проект "Производительность труда".<br>
    В повседневной деятельности я помогаю предприятиям Удмуртии повышать эффективность процессов как Руководитель проектов.<br>
    Помимо этого также освоил навыки Тренера и в рамках своей компании веду по своим проектам и проектам коллег блоки обучения на самые разнообразные темы:<br>
    <ul>
      <li>
        Организация безопасного и эффективного рабочего места по системе 5S
      </li>
      <li>
        Быстрая переналадка SMED
      </li>
      <li>
        Общая эффективноть оборудования OEE
      </li>
      <li>
        Автоновное обслуживание
      </li>
      <li>
        Многое другое
      </li>
    </ul>
    <p>Более подробно о Нац проекте можно узнать на сайте 
      <a href="https://xn--b1aedfedwqbdfbnzkf0oe.xn--p1ai/">
        Производительность.рф
      </a>
    </p> 
    В 2022 году я поставил себе новую цель стать Backend разработчиком и благодаря Яндекс практикум осваиваю новую для себя профессию.<br>
    Уверен, что уже в 2023 году я смогу работать по новой профессии и к 2024 году дойду до уровня Medium
  </p>
{% endblock %}